In [1]:
from django.conf import settings
from django.utils import text
from django.utils.timezone import now
from django.utils import timezone
from apps.applications import models
import inspect
import croniter
import datetime
import pandas as pd
import json
from utils import api

In [2]:
sync = models.Sync.objects.first()

In [3]:
sync.run()

{'fields': ['nif', 'name', 'nameEmployee', 'LastName']}
[{'nif': '123789456', 'name': '4321455', 'nameEmployee': 'Lucas', 'LastName': 'Lucyk'}, {'nif': '987321654', 'name': '987654', 'nameEmployee': 'John', 'LastName': 'Doe'}]

In [7]:
sp = models.SyncParameter.objects.filter(use_in="destiny").first()
sp.value

'{\r\n    "nif": "nif",\r\n    "nameEmployee": "nameEmployee",\r\n    "name": "name",\r\n    "LastName: "LastName"\r\n}'

In [11]:
text.normalize_newlines(sp.value)

'{\n    "nif": "nif",\n    "nameEmployee": "nameEmployee",\n    "name": "name",\n    "LastName: "LastName"\n}'

In [13]:
eval(text.normalize_newlines(sp.value))

SyntaxError: invalid syntax (<string>, line 5)

In [3]:
sh = models.SyncHistory.objects.last()

In [4]:
sh.start_time, sh.end_time

(datetime.datetime(2020, 8, 31, 15, 44, 21, 441578, tzinfo=<UTC>),
 datetime.datetime(2020, 8, 31, 15, 44, 48, 957466, tzinfo=<UTC>))

In [14]:
sync = models.Sync.objects.last()
print(sync.cron_expression, sync.get_last_run().replace(second=0, microsecond=0))

*/15 * * * * 2020-09-01 16:53:00+00:00

In [10]:
#dir(sync.get_last_run())

In [11]:
cron = croniter.croniter(sync.cron_expression, sync.get_last_run().replace(microsecond=0))

In [12]:
cron.get_next(datetime.datetime)

datetime.datetime(2020, 9, 1, 17, 0, tzinfo=<UTC>)

In [29]:
datetime.datetime.now() > None

TypeError: '>' not supported between instances of 'datetime.datetime' and 'NoneType'

In [3]:
sync = models.Sync.objects.last()
sync.origin

In [4]:
client = sync.open_smdb_connection(source='origin')
client.engine

Engine(mssql+pyodbc://sa:***@LUA:1433/LEDESMA?driver=%2Fusr%2Flib%2Fx86_64-linux-gnu%2Fodbc%2Flibtdsodbc.so)

In [5]:
emple = client.get_employees(
    fields=["PERS_DNI", "PERS_PILA", "PERS_NOMBRE", "PERS_CODIGO"],
)
emple

   PERS_DNI          PERS_PILA PERS_NOMBRE  PERS_CODIGO
0  20327815            Claudio     Chimale            2
1  28884538    RODRIGO NICOLAS      GOMEZ             3
2  29223226              PEDRO       SUBIA            4
3  24164239  ADRIANA DEL VALLE   ALDERETES            5
4  26475813            JOAQUIN     SALINAS            6

In [6]:
refer = {
    "nif": "PERS_DNI",
    "name": "PERS_DNI",
    "LastName": "PERS_PILA",
    "nameEmployee": "PERS_NOMBRE",
    "employeeCode": "PERS_CODIGO"
}

refer = {v:k for k,v in refer.items()}
refer

{'PERS_DNI': 'name',
 'PERS_PILA': 'LastName',
 'PERS_NOMBRE': 'nameEmployee',
 'PERS_CODIGO': 'employeeCode'}

In [11]:
emple = emple.rename(columns=refer)
emple

       name           LastName nameEmployee  employeeCode
0  20327815            Claudio      Chimale             2
1  28884538    RODRIGO NICOLAS       GOMEZ              3
2  29223226              PEDRO        SUBIA             4
3  24164239  ADRIANA DEL VALLE    ALDERETES             5
4  26475813            JOAQUIN      SALINAS             6

In [2]:
json_str = '''
[{
	"destiny": "cuil",
	"origin": "fiscalNumbers",
	"steps": [{
		"method": "get_from_list",
		"args": ["__first__"]
	},{
		"method": "get_from_dict",
		"args": ["number"]
	}]
},{
	"destiny": "sex",
	"origin": "genre",
	"steps": [{
		"method": "get_gender_acronym"
	}]
},{
	"destiny": "dni",
	"origin": "nationalIdentificationNumbers",
    "steps": [{
		"method": "get_from_list",
		"args": ["__first__"]
	},{
		"method": "get_from_dict",
		"args": ["number"]
	}]
},{
	"destiny": "country",
	"origin": "nationalities",
	"steps": [{
		"method": "get_from_list",
		"args": ["__first__"]
	},{
		"method": "get_from_dict",
		"args": ["description"]
	}]
},{
	"destiny": "email",
	"origin": "email"
},{
	"destiny": "lastName",
	"origin": "lastName"
},{
	"destiny": "firstName",
	"origin": "firstName"
},{
	"destiny": "legajo",
	"origin": "externalId"
}]
'''

In [3]:
js = json.loads(json_str)

In [8]:
for fd in js:
    print(api.FieldDefinition.from_json(fd))

FieldDefinition(out_name="cuil", in_name="fiscalNumbers", steps=[Step(method="get_from_list", _args=['__first__']), Step(method="get_from_dict", _args=['number'])])
FieldDefinition(out_name="sex", in_name="genre", steps=[Step(method="get_gender_acronym")])
FieldDefinition(out_name="dni", in_name="nationalIdentificationNumbers", steps=[Step(method="get_from_list", _args=['__first__']), Step(method="get_from_dict", _args=['number'])])
FieldDefinition(out_name="country", in_name="nationalities", steps=[Step(method="get_from_list", _args=['__first__']), Step(method="get_from_dict", _args=['description'])])
FieldDefinition(out_name="email", in_name="email", steps=[])
FieldDefinition(out_name="lastName", in_name="lastName", steps=[])
FieldDefinition(out_name="firstName", in_name="firstName", steps=[])
FieldDefinition(out_name="legajo", in_name="externalId", steps=[])

In [5]:
sd = api.FieldDefinition.from_json(fds)

In [6]:
sd

FieldDefinition(out_name="cuil", in_name="fiscalNumbers", steps=[Step(method="get_from_list", _args=['__first__']), Step(method="get_from_dict", _args=['number'])])